<% include ../partials/header %>


<div class='container'>
<header>
<div class='mainWrap'>

  <a href="#" class='myTitle'>


    <img class='theIMG' src="https://itagback.com/wp-content/uploads/2016/08/Twitch.png" alt="twitch">


    <span class='popular'> Streamers</span></a>


  <div id='theButtons'>


    <button id="online" class='btn btn-success btn-lg'>Online</button>


    <button id="offline" class='btn btn-danger btn-lg'>Offline</button>


  </div>


</div>
</header>

<div class='wrapper well' id='streamer'>


</div>

</div>

<footer>
<div class='container'>
  <p>Coded By <a href="https://codepen.io/boydjenkins18/">Boyd Jenkins</a></p>
</div>

</footer>

<% include ../partials/footer %>
